<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.axzl.mobile.refueling">
    <!-- 允许程序读取或写入系统设置 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" /> <!-- 广播-自启动 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- 该权限用于读取手机状态,比如基于百度lbs定位雷达的附近的程序员功能，微博用于调用JNI -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 访问网络连接，可能产生GPRS流量 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 网络连接 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- WIFI -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 读取日志权限 -->
    <uses-permission android:name="android.permission.READ_LOGS" /> <!-- 往SDCard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 读写存储卡 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 允许程序改变Wi-Fi连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" /> <!-- 思必驰AI语音 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="com.jess.arms.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${APP_NAME}"
        android:networkSecurityConfig="@xml/network_security_config"
        android:persistent="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="label">
        <!-- 搜索附近加油站 -->
        <activity android:name=".mvp.ui.activity.SearchForGasStationsActivity"></activity>
        <!-- 欢迎界面 -->
        <activity
            android:name=".mvp.ui.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 首页 -->
        <activity android:name=".mvp.ui.activity.MainActivity" />
        <!-- 收接通道 -->
        <receiver
            android:name=".app.receiver.BridgeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="aios.intent.action.phone.BOOT" />
                <action android:name="aios.intent.action.music.BOOT" />
                <action android:name="aios.intent.action.map.BOOT" />
            </intent-filter>
        </receiver>
        <!-- 服务关联 -->
        <receiver
            android:name="com.aispeech.aios.sdk.receiver.SDKReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <!-- 如果需要在应用停止时被拉起来，请接收该广播 -->
                <action android:name="aios.intent.action.STATE" />
                <!-- 如果需要在通信异常线程停止时被拉起来，请接收该广播 -->
                <action android:name="aios.intent.action.START_SDK_NODE" />

                <!-- 如果需要在aios-daemon重启时一起重启，请接收该广播并将android:persistent属性设为"true" -->
                <action android:name="aios.intent.action.REBOOT" />
                <action android:name="aios.intent.action.DEFAULT_BUS_SERVER_CHANGED" />
            </intent-filter>
        </receiver>
        <!-- Arms 配置 -->
        <meta-data
            android:name="com.axzl.mobile.refueling.app.global.GlobalConfiguration"
            android:value="ConfigModule" />
    </application>

</manifest>